.main{
    justify-content: center;
    display:grid;
        grid-template-columns: repeat(12,1ft);
        grid-template-rows: auto 1ft auto;
        gap:0.5rem;
        grid-template-areas: 
        'part1'
        'part2'
        'part3'
        ;
    flex-direction: column;
}
.part1{
    grid-area: part1;
    justify-self:center;
    grid-column: span 4;
    color:rgba(255, 255, 255, 0.974);
    background-color: rgb(23,23,64);
    text-align: center;
}
.part2{
    grid-area: part1;
    justify-self:center;
    grid-column: span 4;
    color:rgba(255, 255, 255, 0.974);
    background-color: rgb(23,23,64);
    text-align: center;
}
.part3{
    grid-area: part1;
    justify-self:center;
    grid-column: span 4;
    color:rgba(255, 255, 255, 0.974);
    background-color: rgb(23,23,64);
    text-align: center;
}